footer {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #3a0c0c;
    position: absolute;
    bottom:0; 
}

p.copyright {
    position: center;
    width: 100%;
    color: #fff;
    line-height: 30px;
    font-size: 0.6em;
    text-align: center;
    bottom:0;
}