.header {
    color: aliceblue;
    text-align: center;
}
.search {
    color : grey;
    font-size: 100%;
}
.table {
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.issue {
    font-size: 10px;
}
.add {
    font-size: 12px;
}