.dashboard-wrapper{
}

.dashboard-icon{
    max-width: 100%;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.dashboard{
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 0px !important;
    border-top:0px;
}

.wrapper{
    display: flex;
}

.dashboard-row-wrapper > .row{
    margin-left: 10px !important;
}
.dashboard-row{
    margin: 15px 0px;
    font-size: 15px;
}

.dashboard-row-wrapper{
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}
.dashboard-row-wrapper:last-child{
    border-bottom: 0px solid rgba(0,0,0, 0.1);
}